.navbar-blue {
    background-color: #3BAFDA;
    color: white;
}

.navbar-blue a {
    color: white;
}

.navbar-blue a:hover {
    color: black;
}

.navbar-blue a:focus {
    color: black;
}

.twitter-feed {
    max-height: 70vh;
    overflow: scroll;
}

.welcome {
    margin-top: 0;
    margin-bottom: 0.75em;
}

table {
    width: 100%;
}

tr {
    width: 100%;
    line-height: 2em;
}

tr.day {
    background-color: #ccc;
    width: 100%;
    text-decoration: underline;
    border-left: solid #444 4px;
}

tr.day > td {
    padding-left: 4px;
}

tbody tr:nth-child(odd):not(.day) {
    background-color: #eee;
}